.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 1rem;
  min-width: 300px;
  max-width: 100%;

  mat-form-field {
    width: 100%;
  }
}

mat-dialog-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
